* {
  background-color: #CCFFFF; }
  * #wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px; }
    * #wrapper h1 {
      font-family: Lora, Serif;
      color: #6699CC;
      text-align: left;
      display: inline;
      font-size: 60px; }
    * #wrapper .pawprint {
      float: left; }
    * #wrapper a {
      text-decoration: none;
      color: #6699CC;
      margin: 1%;
      float: right;
      text-align: bottom; }
      * #wrapper a:hover {
        color: #33CCCC; }
    * #wrapper h2 {
      font-family: Lora, Serif;
      color: #6699CC; }
    * #wrapper .column1, * #wrapper .column2, * #wrapper .column3 {
      width: 300px;
      float: left;
      margin: 5px;
      line-height: 20px; }
    * #wrapper div h5 {
      font-family: Lora, Serif; }
    * #wrapper blockquote {
      font-family: Homemade Apple, cursive;
      color: color-blue;
      float: right;
      font-size: 125%;
      font-style: italic;
      line-height: 25px; }
    * #wrapper footer {
      margin: 1%;
      width: 960px;
      height: 350px;
      float: center;
      border-bottom: solid #33CCCC 2px; }
